@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
﻿@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewBag.Title = Localizer["Error.NotFound"];
}

<h1 class="fw-bolder fs-2qx text-gray-900 mb-4">@Localizer["Error.PageNotFound"]</h1>
<div class="fw-semibold fs-6 text-gray-500 mb-7">@Localizer["PleaseTryAgain"]</div>
<div class="mb-11">
    <img src="/media/auth/404-error.png" class="mw-100 mh-300px theme-light-show" alt="" />
    <img src="/media/auth/404-error-dark.png" class="mw-100 mh-300px theme-dark-show" alt="" />
</div>
<div class="mb-0">
    <a href="@Url.Action("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl })" class="btn btn-primary">@Localizer["Login"]</a>
</div>

